* {         
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d1a4b;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    /* align-items: center;
    justify-content: center; */
}

header {
    text-align: center;
    margin-top: 20px;
}

.series-container {
    display: flex;
    flex-direction: column;
}


 
.score-card {
    background: #fff;
    color: #333;
    width: 600px;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.score-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.date {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

}

.head { 
    font-size: 18px;
    color: #2c387e;
    font-weight: bold;
    margin-bottom: 5px;
}

.start-date {
    font-size: 16px;
    color: red;
}

.end-date {
    font-size: 16px;
    color: red;
}

.no-of-matches {
    font-size: 18px;
    font-family: Roboto;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
}

.refresh-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.refresh-btn:hover {
    background-color: #0056b3;
}
